p {
  cursor: pointer;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.other1 {
  background-color: rgb(168, 180, 172);
  color: blue;
  font-family: Courier, monospace;
  font-weight: 700;
  text-transform: lowercase;
}

.other2 {
  background-color: rgb(167, 22, 211);
  color: black;
  font-family: monospace;
  font-weight: 200;
}

.other3 {
  background-color: rgba(12, 228, 84, 0.897);
  color: rgb(217, 255, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

.skewleft2 {
  transform: skewX(20deg);
}

.skewright2 {
  transform: skewX(-20deg);
}

.skewleft3 {
  transform: skewX(30deg);
}

.skewright3 {
  transform: skewX(-30deg);
}
